{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %} | Home {% endblock title %}

{% block body_option %} "header-collapse" {% endblock body_option %}

{% block home_option %} current-menu-item {% endblock home_option %}

{% block content %}
    <div class="hero">
        <div class="slider">
            <ul class="slides">
                {% if entries_length != 0 %}
                {% for entry in entries %}
                    <li class="lazy-bg"
                        data-background="{{ entry.image.url }}">
                        <div class="container">
                            <h3 class="slide-subtitle">{{ entry.title }}</h3>
                            <p class="slide-desc">{{ entry.brief_content }}</p>
                            <a href="{% url 'blog:entry_detail' entry.slug %}"
                               class="button cut-corner">
                                {% trans "Read More" %}
                            </a>
                        </div>
                    </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    <main class="main-content">
        <div class="fullwidth-block testimonial-section">
            <div class="container">
                <div class="quote-slider">
                    <ul class="slides">
                        <li>
                            <blockquote>
                                <p>"
                                    {% blocktrans %}
                                        I wish you all welcome on my site where I
                                        present this this and this...
                                    {% endblocktrans %}
                                    "
                                </p>
                                <cite>Frank Parfait NAMEKONG</cite>
                                <span>{% trans "Founder and CEO" %}</span>
                            </blockquote>
                        </li>

                    </ul>
                </div>
            </div>
        </div> <!-- .testimonial-section -->

        <div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title">{% trans "Upcoming events" %}</h2>
                    <div class="event-nav">
                        <a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
                        <a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
                    </div> <!-- .event-nav -->
                </header> <!-- .section-header -->
                <div class="event-carousel">

                    {% if events_length != 0 %}
                    {% for event in events %}
                        <div class="event">
                            <div class="entry-date">
                                <span class="month">{{ event.date }}</span>
                            </div>
                            <h2 class="entry-title">
                                <a href="{% url 'home:event_display' event.slug %}">{{ event.title }}</a>
                            </h2>
                            <p>{{ event.content }}</p>
                        </div> <!-- .event -->
                    {% endfor %}
                    {% endif %}
                </div> <!-- .event-carousel -->
            </div> <!-- .container -->
        </div> <!-- upcoming-event-section -->
    </main>
{% endblock content %}
