{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %} | Blog {% endblock title %}

{% block content %}
    <main class="main-content">
        <div class="fullwidth-block inner-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="content">
                            <h2 class="entry-title">Blog</h2>

                            {% if length != 0 %}
                            {% for entry in entries %}
                                {% if entry.title %}
                                    <div class="post">
                                        <div class="entry-date">
                                            <b>{{ entry.release_date }}</b>
                                        </div>
                                        <div class="featured-image">
                                            <img src="{{ entry.image.url }}"
                                                 width="90"
                                                 height="100"
                                                 alt="Entry image">
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="{% url 'blog:entry_detail' entry.slug %}">{{ entry.title }}</a>
                                        </h2>
                                        <p>{{ entry.brief_content }}</p>
                                        <a href="{% url 'blog:entry_detail' entry.slug %}">{% trans "Read More" %}</a>
                                    </div>
                                {% else %}
                                    <p>{% trans "No Entry or no Category have been created yet" %}.</p>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
