{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %} | Contact {% endblock title %}

{% block content %}
    <main class="main-content">
        <div class="fullwidth-block inner-content">
            <div class="container">
                <h2 class="page-title">Contact Us</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form action="{% url 'contact:contact_display' %}"
                              class="contact-form">

                            {% csrf_token %}
                            {% for field in contact_form %}
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input type="submit" value="{% trans 'Send message' %}">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="map-wrapper">
                            <div class="map"></div>
                            <br><br><br><br><br><br><br>
                            <address>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <strong>TendanceActu</strong>
                                        <span>1316 rue des Cinquantenaires, Yaoundé CM</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="mailto:fparfait@tendanceactu.com">fparfait@tendanceactu.com</a>
                                        <a href="tel:237673821366">(237) 6 73 82 21 66</a>
                                    </div>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
